body {
	color:blue;
	background: black;
	font-family: BankGothic Lt BT;
	text-align: center;
}

img {
	width: 1000px;
	height: auto;
}

h1{
	font-size: 80px;
	font-weight: bolder;
	text-decoration: underline;
	}